*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: red;
    width: 45em;
    height: 50em;
    padding: 20px;
}
div{
    background-color: aqua;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}
div p{
    font-size: 50px;
    
}
button{
    width: 200px;
    height: 90px;
}
